<div class="card">

  <h2 [ngStyle]="{
    color: dataCard.title.length < 10 ? 'black' : 'blue',
    fontWeight: dataCard.title.length < 10 ? 'normal' : 'bold'
  }">{{cardIndex}} {{dataCard.title}}</h2>

  <p class="text" [ngClass]="{
    blue: textColor === 'blue',
    green: textColor === 'green',
    red: textColor === 'red'
  }" >{{dataCard.text}}</p>

  <p class="text"
    [class.blue]="textColor === 'blue'"
    [class.green]="textColor === 'green'"
    [class.red]="textColor === 'red'"
  >{{text}}</p>

  <div>
    <button (click)="textColor = 'blue' ">Set blue</button>
    <button (click)="textColor = 'green' ">Set green</button>
    <button (click)="textColor = 'red' ">Set red</button>
  </div>

<!--  <p>Number: {{number}}</p>-->
<!--  <p>Array: {{array}} </p>-->
<!--  <pre>{{object | json}}</pre>-->
<!--  <p>{{getInfo()}}</p>-->

  <div class="carddate">{{cardDate | date: 'd LLLL YYYY HH:mm':'':'ua' }}</div>
  <div>
<!--    <img src="{{ imgUrl }}" alt="" width="50" >-->
    <img [src]="imgUrl" alt="" height="50" >
  </div>
  <button [disabled]="disableHandler" >My buttom</button>

  <button (click)="changeTitle()" >Change Title</button>

  <button (click)="dataCard.title = 'New changed Title'  " >New changed Title</button>

  <input type="text" (input)="inputHandler($event)" [value]="dataCard.title" >

  <input type="text" #myInput (input)="inputHandler2(myInput.value)" [value]="dataCard.title" >

  <input type="text"  [(ngModel)]="dataCard.title" (ngModelChange)="inputHandler3()" >

</div>

